body {
    text-align: center;
    background-color: #d8fbff;
    font-family: 'Arvo', serif;
}

h1 {
    font-size: 50px;
}
.input-wrapper {
    display: block;
}
#search-box {
    height: 25px;
    width: 300px;
    font-size: 19px;
    border: 0px solid #fff;
}
#search-context {
    font-size: 15px;
    height: 45px;
    width: 100px;
}

