body {
    text-align: center;
    background-color: #d8fbff;
    font-family: 'Arvo', serif; 
}

h1 {
    font-size: 50px;
}

.input-wrapper {
    display: block;
    padding-bottom: 5px;
}

#search-box {
    height: 25px;
    width: 300px;
    font-size: 19px;
    border: 0px solid rgb(250, 122, 122);
}

#search-context {
    font-size: 15px;
    height: 45px;
    width: 100px;
}

.tweet-wrapper {
    display: inline-block;
    height: calc(100vh - 190px);
    padding: 0px 10px;
    overflow: hidden;
}

.tweet-wrapper:hover {
    overflow-y: auto;
}

/*Create a custom scrollbar*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #d8d8d8;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}